<!DOCTYPE html>
<html>
<head>
	<title>Delete</title>
</div><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h2>Are you sure you want to delete the following course?</h2>
		<p>Name: {{courses.name}}</p>
		<p>Description: {{descriptions.description}}</p>
		<a href="/">No</a>
		<a href="/remove/{{courses.id}}" class="btn btn-danger">Yes I am sure</a>
	</div>
</body>
</html>